node_modules

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?




############################
# OS X
############################

frontend/.DS_Store
frontend/.AppleDouble
frontend/.LSOverride
frontend/Icon
frontend/.Spotlight-V100
frontend/.Trashes
frontend/._*


############################
# Linux
############################

frontend/*~


############################
# Windows
############################

frontend/Thumbs.db
frontend/ehthumbs.db
frontend/Desktop.ini
frontend/$RECYCLE.BIN/
frontend/*.cab
frontend/*.msi
frontend/*.msm
frontend/*.msp


############################
# Packages
############################

frontend/*.7z
frontend/*.csv
frontend/*.dat
frontend/*.dmg
frontend/*.gz
frontend/*.iso
frontend/*.jar
frontend/*.rar
frontend/*.tar
frontend/*.zip
frontend/*.com
frontend/*.class
frontend/*.dll
frontend/*.exe
frontend/*.o
frontend/*.seed
frontend/*.so
frontend/*.swo
frontend/*.swp
frontend/*.swn
frontend/*.swm
frontend/*.out
frontend/*.pid


############################
# Logs and databases
############################

frontend/.tmp
frontend/*.log
frontend/*.sql
frontend/*.sqlite
frontend/*.sqlite3


############################
# Misc.
############################

frontend/*#
frontend/ssl
frontend/.idea
frontend/nbproject
frontend/public/uploads/*
frontend/!public/uploads/.gitkeep

############################
# Node.js
############################

frontend/lib-cov
frontend/lcov.info
frontend/pids
frontend/logs
frontend/results
frontend/node_modules
frontend/.node_history

############################
# Tests
############################

frontend/coverage

############################
# Strapi
############################

frontend/.env
frontend/license.txt
frontend/exports
frontend/*.cache
frontend/dist
frontend/build
frontend/.strapi-updater.json
